body {
  background-color: #000011;
}

#bottompanel {
  max-height: 30%; 
  overflow: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toolbar{
  text-align: right;
  background-color: beige;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.runbutton{
  width: 20px;
  height: 20px;
}

.clearbutton{
  width: 20px;
  height: 20px;
}

.closebutton{
  width: 30px;
  height: 30px;
}

.examplebutton{
  width: 24px;
  height: 24px;
}

.text-3d {
  font-size: 3rem;
  position: absolute;
  top: 20px;
  left: 13%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.elasticdisplay{
  margin-top: 10vh;
  margin-right: 10vw;
  padding: 20px;
  width: 100vw;
  height: 70vh;
  border-radius: 15px; 
  background-color: #f5f5f5;
}

.custom-tag {
  margin-right: 5px;
  background-color: #919191;
}

ul.separator-list .lisep {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}